@media (max-width:720px) {
    h1.name {
        font-size: 30px;
    }
    .menu {
        display: none;
    }
    .options {
        display: none;
    }
    .bar {
        display: initial;
    }
}

.bar {
    margin-right: 30px;
    margin-top: 25px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

a {
    color: black;
}

a {
    text-decoration: none;
}

.items {
    display: flex;
    flex-direction: row;
}

.item {
    padding: 1rem;
    font-family: 'comicq';
    margin-top: 20px;
    font-size: 20px;
}

h1.name {
    margin-left: 30px;
    margin-top: 15px;
}

.o-items {
    display: flex;
    flex-direction: row;
}

.o-item {
    padding: 1rem;
    margin-top: 20px;
    font-family: 'anton';
    font-size: 15px;
}

ul {
    list-style-type: none;
}

@import url('/css/fonts.css');